/**
***
*** Global
***
**/

body {margin:0;}

/**
***
*** Header
***
**/

#header {
	background-color: #3D3630;
	height: 88px;
	border-bottom: #bada55 solid 2px;
	padding-left: 20%;
	padding-right: 20%;
}

/**
***
*** Footer
***
**/

#footer{

}

/**
***
*** Landing
***
**/

#landing.view {
	background-color: black;
}

/**
***
*** Locations
***
**/

#locations.view {
	background-color: black;
}

#locations-searchbar{
	width: 100%;
	height: 75px;
}
#city-select {
	width: 50%;
}
#location-select {
	width: 50%;
}
#locations-map {
	position: absolute;
	width:100%;
	top: 165px;
	bottom: 0px;
}